body {
  margin: 0;
  background-color: #D8D8D8;
}
h2 {
  color: #6C5F5B;
}
.height100 {
  height: 100%;
}
.DisplayCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}
.MyDetail {
  background-color: #4F4A45;
  color: #F6F1EE;
}
.MyDetail h1,h2 {
  margin: 15px 0;
}
.DetailBlog {
  font-size: 1.4rem;
  padding: 0 24px;
}
.CardConfig {
  margin: 24px;
  text-align: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}
.CardConfig2 {
  margin: 24px;
  text-align: center;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
  background-color: whitesmoke;
}
.CardEducation {
  text-align: left;
  height: 100%;
  box-shadow: 0 0 5px 0;
}
.EducationInfo {
  display: flex;
  align-items: center;
  padding-left: 20px;
}
.config-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%; /* หรือความกว้างที่คุณต้องการ */
}
.ant-divider-horizontal {
  background-color: #4F4A45 !important;
}
.logoProgrammingW, .logoProgrammingD {
  width: 100%;
}
.IconProgramming {
  display: flex;
  align-items: center;
  margin: 20px;
}
.footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid 4F4A45;
  box-shadow: 0 0 5px 0;
  background-color: #4F4A45;
}